name: Batelec Daily Scraper

on:
  schedule:
    # 6am
    - cron: "0 22 * * *"
    # 5pm
    - cron: "0 9 * * *"

    - cron: "30 5 * * *"
  workflow_dispatch: # Allows you to run it manually for testing

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Install Playwright Browsers
        run: npx playwright install chromium --with-deps

      - name: Create state.json from Secret
        run: echo '${{ secrets.FB_STATE }}' > state.json

      - name: Run Scraper
        env:
          USER: ${{ secrets.USER }}
          PASSWORD: ${{ secrets.PASSWORD }}
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
          BREVO_API_KEY: ${{ secrets.BREVO_API_KEY }}
          ENVIRONMENT: ${{ secrets.ENVIRONMENT }}
        run: node index.js
